<h1>Recipe Index</h1>
<% @recipes.each do |recipe| %>
  <a href="/recipes/<%= recipe.id %>">
    <h3>Recipe name: <%= recipe.name %></h3>
    <p>Ingredients: <%= recipe.ingredients %></p>
    <h3>Cook time: <%= recipe.cook_time %></h3>
  </a>
  <% end %>
