<form action="/recipes" method="post">

  <label for="name">Recipe name:</label>
  <input type="text" name="name" id="name">


  <label for="ingredients">Recipe ingredients:</label>
  <input type="text" name="ingredients" id="ingredients">


  <label for="cook_time">Recipe cook time:</label>
  <input type="text" name="cook_time" id="cook_time">

  <input name="submit" type="submit" id="submit">
</form>
